@use 'inter-ui/default' with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/web'
);

@use 'inter-ui/variable' with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/variable'
);

@include default.all;
@include variable.all;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizelegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}
